.container {
    margin: 0 auto;
    max-width: 500px;
    background-color: white;
    height: 200vw;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid black;
}

.box {
    margin: 0 auto;
    margin-top: 20px;
    width: 450px;
    /* height: 120px; */
    /* background-color: gray; */
    display: flex;
}

/* .topic {
    margin-bottom: 5px;
} */

/* .input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: yellow;
}

.input-box {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background-color: skyblue;
    margin-right: 10px;
} */

.authen {
    border-radius: 8px;
    width: 70px;
    height: 40px;
    margin-left: 20px;
    background-color: blue;
}

.test {
    margin: auto;
    width: 90%;
    /* height: 100px; */
    /* background-color: green; */
}

.test input[type=email]{
    width: 70%;
}

.test input{
    background-color: gainsboro;
    border-radius: 5px;
    margin-top: 10px;
    height: 40px;
    width: 85%;
}

.test input[type=radio] {
    display: none;
}

.test input[type=radio] + label {
    display: inline-flex;
    cursor: pointer;
    height: 50px;
    width: 70px;
    border-radius: 10px;
    border: 1px solid #333;
    line-height: 24px;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-top: 10px;
    font-weight:bold;
    font-size:13px;
}

.test input[type=radio]:checked + label {
    background-color: greenyellow;
}

.agree_box {
    margin-top: 10px;
    border-radius: 10px;
    width: 90%;
    height: 120px;
    background-color: gray;
}

.agree_box input[type=checkbox] {
    width: 30px;
    height: 30px;
}