/* 전체 컨테이너 */
.FeedThumbnail {
  width: 100%;
  margin-bottom: 50px;
}

/* 주제 박스 */
.FeedThumbnail .title-section {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: white;
  margin-top: 20px;
}

.title-section > div {
  display: flex;
}

.title-section .title {
  margin-left: 20px;
  justify-content: start;

  img {
    object-fit: cover;
  }
}

.title-section .more-icon {
  flex: 1;
  justify-content: end;
  margin-right: 20px;
  cursor: pointer;
}

.more-icon img {
  width: 15px;
}

/* 검색박스 */
.FeedThumbnail .search-section {
  width: 100%;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;

  .search-box {
    margin: 0 auto;
    width: 85%;
    padding: 15px;
    border-radius: 10px;
    background-color: #f1f7ff;
    border: 1px solid #359aff;
  }

  .search-box::placeholder {
    color: #1a80e6;
  }

  .search-btn {
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    img {
      width: 25px;
      height: 25px;
    }
  }
}
