
.frame{
    display: flex;
    padding: 30px 300px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex: 1 0 0;
    align-self: stretch;
    background: #F1F7FF;
}

.upper-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    min-width: 1000px;
}

.top-button-wrapper{
    display: flex;
    padding: 10px 0;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
    align-self: stretch;
    font-family: Pretendard;
    font-style: normal;
    line-height: 140%; /* 28px */
    letter-spacing: -0.5px;
}

.try-search-button{
    display: flex;
    padding: 8px 18px;
    justify-content: center;
    align-items: center;
    color: #111;
    font-size: 18px;
    font-weight: 600;
}

.try-follow-button{
    display: flex;
    padding: 8px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #009DFF;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.bias-info-wrapper{
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.bias-image-container {
    display: flex;
    width: 400px;
    height: 290px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #FFF;
    overflow: hidden; /* 이미지 넘치면 자르기 */
}

.bias-image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: contain; /* or cover */
}

.bias-detail-wrapper{
    display: flex;
    height: 308px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
}

.bias-detail-container{
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 16px;
    background: #FFF;
}

.bias-detail-left-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.bias-detail-title{
    color: #767676;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.4px;
}

.bias-name-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.bias-name{
    color: #000;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
    letter-spacing: -0.5px;
}


.bias-state{
    color: #767676;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.4px;
}


.bias-platform-container{
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 16px;
    background: #FFF;
}


.schedule-section{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    min-width: 1000px;
    height: 552px;
}

.schedule-right-section{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 16px;
    background: #FFF;
    height: calc(100% - 48px);
}

.schedule-left-section{
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
}

.single-schedule-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    overflow: hidden;
}

.single-schedule-image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;   /* cover → 꽉 채움 / contain → 전부 보임 */
    border-radius: inherit; /* 모서리 맞춰서 잘림 */
    border-radius: 12px;
}


.single-schedule-detail-wrapper{
    display: flex;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
}

.single-schedule-detail-sub-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    flex: 1 0 0;
}

.single-schedule-data-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
    font-family: Pretendard;
    font-style: normal;
    line-height: 140%; /* 28px */
    letter-spacing: -0.5px;
}

.single-schedule-data-title{
    color: #797979;
    font-size: 14px;
    font-weight: 400;
}

.single-schedule-data-body{
    color: #111;
    font-size: 20px;
    font-weight: 500;
}

.week-data-container{
    display: flex;
    padding: 24px;
    gap: 6px;
    align-self: stretch;
    border-radius: 16px;
    background: #FFF;
    justify-content: space-between;
    align-items: center;
}

.week-data{
    color: #797979;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.35px;
}

.week-button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
}

.week-button{
    width: 22px;
    height: 22px;
}

.schedule-list-wrapper{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 16px;
    background: #FFF;
    overflow-y: hidden;
}

.schedule-component{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid #EFEFEF;
    background: #FFF;
    font-family: Pretendard;
    font-style: normal;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.35px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.schedule-component:hover{
    background: #f2f6ff;
}

.schedule-component:active{
    transform: scale(0.9);
}

.schedule-date-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.schedule-date{
    color: #797979;
    font-size: 14px;
    font-weight: 400;
}

.schedule-weekday{
    color: #111;
    font-size: 14px;
    font-weight: 500;
}

.schedule-detail-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.schedule-title{
    color: #111;
    font-size: 18px;
    font-weight: 500;
}

.schedule-start{
    color: #767676;
    font-size: 15px;
    font-weight: 400;
}

.tag-wrapper{
    display: flex;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.tag{
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border-radius: 6px;
    background: #24BAFA;
}






