.frame {
    width: 100%;
    margin : 0 auto;
    min-height: 100vh;
    max-width: 500px;
    position: relative;
}

.inner-box{
    display: flex;
    flex-direction: column;
    padding : 4%;
}

.inner-box-top-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.top-bar{
    padding-bottom: 5px;
}

.bias-meta-data-wrapper{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    align-self: stretch;
    text-align: center;
    font-family: Pretendard;
    font-style: normal;
    line-height: 140%; /* 21px */
    letter-spacing: -0.375px;
}

.bias-share-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.bias-share-button{
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #BEBEBE;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}

.toggleSwitch {
  width: 40px;
  height: 20px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 16px 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 토글 버튼 기본 위치 (왼쪽) */
.toggleSwitch .toggleButton {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #2457FF;
  transition: left 0.3s ease, background 0.3s ease;
}

/* ✅ 토글이 체크된 상태일 때 버튼 이동 */
input[type="checkbox"]:checked + .toggleSwitch .toggleButton {
  left: 19px;
  background: #2457ff;
}

/* (선택) 배경색도 변경하고 싶다면 */
input[type="checkbox"]:checked + .toggleSwitch {
  background-color: #e0e9ff;
}

.toggleSwitchWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    height: fit-content
}

.bias-share-button:hover{
    background-color: #fff;
}

.bias-share-icon{
    width: 24px;
    height: 24px;
    color: #6C6C6C;
}

.bias-share-text{
    font-size: 15px;
    font-weight: 300;
}


.bias-image-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 0;
    border: 1px solid #fff;
    overflow: hidden;
    width: 190px;
    height: 190px;
    border-radius: 200px;
}

.bias-image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;   /* cover → 꽉 채움 / contain → 전부 보임 */
    border-radius: inherit; /* 모서리 맞춰서 잘림 */
}


.bias-detail-container-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.bias-introduce-myself{
    color: #6C6C6C;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.4px;
}

.bias-option-wrapper{
    display: flex;
    align-self: stretch;
    padding: 8px 18px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bias-option-text{
    color: #767676;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 21px */
    letter-spacing: -0.375px;
}

.bias-option-toggle-button{
    width: 30px;
}


.bias-name-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
}

.bias-platform-icon{
    width: 23px;
    height: 23px;
    aspect-ratio: 1/1;
}

.bias-platform-icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;   /* cover → 꽉 채움 / contain → 전부 보임 */
    border-radius: inherit; /* 모서리 맞춰서 잘림 */
}


.bias-name{
    color: #222;
    font-size: 22px;
    font-weight: 400;
}


.bias-meta-data-button-container{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 30px;
    background: #0b0c14a6;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.4px;
    cursor: pointer;
}

.bias-meta-data-left-button{
    display: flex;
    padding: 13px 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 20px;
    background: #009DFF;
    cursor: pointer;
    transition : all 0.3s ease-in-out;
}

.bias-meta-data-left-button:hover{
    background: #0084ff;
}

.platform-direct-follow-icon{
    width: 24px;
    height: 24px;
}

.platform-direct-follow-text{
    color: #FFF;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.4px;
}


.bias-meta-data-right-button{
    display: flex;
    padding: 13px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 20px;
    cursor: pointer;
    transition : all 0.3s ease-in-out;
}

.bias-meta-data-right-button:hover{
    background-color: #494C53;
}


.week-select-box{
    display: flex;
    flex-direction: column;
    gap : 5px;
    margin-top: 90px;
    margin-bottom: 15px;
    padding: 8px;
    align-items: center;
    align-self: stretch;
    font-family: Pretendard;
    text-align: center;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.45px;
    border-radius: 12px;
}

.week-select-button-wrapper{
    display: flex;
    gap : 40px;
}

.prev-button{
    display : flex;
    justify-content: center;
    align-items: center;
    color: #656565;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.prev-button:active{
    transform: scale(0.8);
}

.week-data{
    display : flex;
    justify-content: center;
    align-items: center;
    color: #353535;
    font-size: 17px;
    font-weight: 400;
}

.next-button{
    display : flex;
    justify-content: center;
    align-items: center;
    color: #656565;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.next-button:active{
    transform: scale(0.8);
}

.schedule-list-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.single-schedule-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.schedule-datetime-wrapper{
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    padding: 4px 0;
    gap: 6px;
}

.schedule-datetime{
    color: #797979;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.35px;
}

.datetime-weekday{
    color: #111;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.35px;
}

.single-schedule-container{
    display: flex;
    padding: 12px;
    height: 93px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 14px;
    border: 2px solid #FFF;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.70) 100%);
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.08);
}

.single-schedule-image {
    display: flex;
    max-width: 20%;
    height: 100%;
    flex-direction: column;
    align-items: center;   /* 이미지 중앙 정렬 */
    justify-content: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 7px;
    background: #BEBEBE;
    min-width: 90px;
    overflow: hidden; /* 이미지가 영역 밖으로 안나가게 */
}

.single-schedule-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or contain */
    border-radius: 7px; /* 모서리 깔끔하게 */
}

.single-schedule-detail-wrapper {
    display: flex;
    width: 100%;                /* 💡 디바이스 가로폭 기준으로 꽉 채움 */
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    min-width: 0;               /* 💡 flex 내부에서 ellipsis 제대로 작동하게 함 */
}

.single-schedule-title-wrapper {
    display: flex;
    flex-direction: column;
    gap : 4px;
    min-width: 0;               /* 💡 flex 내부에서 ellipsis 제대로 작동하게 함 */
    width: 100%;                /* 💡 디바이스 가로폭 기준으로 꽉 채움 */
    padding: 2px 0;
}

.single-schedule-title {
    display: block;
    width: 100%;                /* 부모의 폭에 맞게 늘어남 */
    white-space: nowrap;        /* 한 줄 유지 */
    overflow: hidden;           /* 넘치는 부분 숨김 */
    text-overflow: ellipsis;    /* ...으로 표시 */

    color: #111;
    font-family: Pretendard;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.45px;
    line-height: normal;
}

.single-start-time{
    color: #4B4B4B;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.375px;
    align-self: stretch;
}

.schedule-tag-wrapper{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}

.empty-schedule{
    color: #414141;
    width:80%;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.tag{
    display: flex;
    padding: 4px 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    background: #fff;
    border: 1px solid #797979;
    color: #222;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.35px;
    
}

.body-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.background-gradient{
    position: absolute;
    width: 100%;       /* 부모 기준 100% */
    max-width: 500px;  /* 최대폭 500px로 제한 */
    height: auto;      /* 비율 유지 */
    top: 200px;
    z-index: -1;
}


.background-gradient img {
    width: 100%;        /* 부모 폭에 맞춤 */
    max-width: 500px;   /* 최대폭 500px */
    height: auto;       /* 세로 비율 유지 */
    object-fit: contain; /* 이미지 비율 유지, 잘림 방지 */
    display: block;     /* inline-gap 제거 */
}



