.LoadingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
}
.MyPageLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}


.BrandLoader {
  width: 80%; /* 로고 크기 조절 */
  height: auto; /* 비율 유지 */
}


