.progress-container {
    margin-top: 5px;
    width: 95%;
    height: 10px;
    border-radius: 100px;
    border: 1px solid white;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 3px;
    /* justify-content: center; */
}

.progress-bar {
    height: 100%;
    /* background-color: white; */
    background: linear-gradient(135deg, rgba(194, 166, 240, 0.7), rgba(140, 184, 252, 0.5));
    border: white 1px solid;
    width: 80%;
    border-radius: 100px;
    transition: 2s;
}