.explore_schedule_main_frame{
    display: flex;
    padding: 0px 50px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    position: relative;
}

.explore_schedule_container{
    width: 1060px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.item_selcet_wrapper{
    display: flex;
    padding: 21px 37px;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.selected_item{
    display: flex;
    width: 160px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid transparent;
    background-image: linear-gradient(#fff, #fff),
        linear-gradient(135deg, #FFE9E9 -0.5%, #91FF94 25.38%, #8981FF 83.1%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 40px;
    box-sizing: border-box;
}

.category_item{
    display: flex;
    width: 120px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 2px solid #D8E9FF;
    background: #FFF;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.schedule_grid{
    width: 100%;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.schedule_component_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    /*grid-row: 1 / span 1;*/
    /*grid-column: 1 / span 1;*/
}

.schedule_wrapper{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 20px 20px 80px 20px;
    border: 1px solid #FFF;
    background: #FFF;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.schedule_title{
    color: #111;
    width: 100%;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.schedule_detail_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}
.artist_name{
    color: #797979;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.35px;
}
.schedule_time_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.schedule_time{
    color: #797979;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.35px;
}
.schedule_platform{
    color: #797979;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.35px;
}

.schedule_extra_control_container{
    display: flex;
    padding: 16px 26px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

.schedule_detail{
    display: flex;
    width: 80px;
    height: 34px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px 8px 20px 8px;
    border: 1px solid #FFF;
    background: #FFF;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.schedule_detail:hover{
    border: 1px solid transparent;
    background-image: linear-gradient(#fff, #fff),
        linear-gradient(135deg, #FFE9E9 -0.5%, #91FF94 25.38%, #8981FF 83.1%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}


.schedule_subscribe{
    width: 150px;
    height : 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px 8px 20px 8px;
    border: 1px solid #FFF;
    background: #FFF;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.schedule_subscribe:hover{
    border: 1px solid transparent;
    background-image: linear-gradient(#fff, #fff),
        linear-gradient(135deg, #FFE9E9 -0.5%, #91FF94 25.38%, #8981FF 83.1%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.none_schedule_frame{
    width: 100%;
    height: 600px;
}

.fetch-more-button-wrapper{
    display: flex;
    height: 100px;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

.fetch-more-button{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px 160px;
    border-radius: 24px;
    border: 2px #dadada solid;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.60) 99.99%);
    color: #111;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 44.8px */
    letter-spacing: -0.8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.fetch-more-button:hover{
    border: 2px #fff solid;
    background: linear-gradient(135deg, rgba(167, 187, 255, 0.50) 0%, rgba(88, 126, 255, 0.50) 99.99%);
}

.desktop-ad-section-style{
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    position:sticky;
    top: 200px;
    margin: 0px 0px 0px 30px;
}