.section-box{
padding-bottom : 20px;
}



.section-line{
    background-color: #F1F7FF;
    height: 5px;
    width: 100%;
}

.dashboard-section{
    padding-left: 28px;
    padding-bottom : 10px;
    padding-right: 28px;
}

.element {
    color: transparent;
    height: 26px;
    line-height: 26px; 
    position: relative;
    white-space: nowrap;
}

.text-wrapper {
    color: #2d2d2d;
    letter-spacing: -0.08px;
}

.span {
    color: #107af4;
    letter-spacing: -0.08px;
}

.section-title{
    font-size:20px;
    font-weight: 600;
    letter-spacing: -0.40px;
}

.my-dashboard {
    font-size: 14px;
    font-weight: 400;
    background-color: #d0e4ff;
    border-radius: 6px;
    width: calc(100% - 56px); /* 계산식 수정 */
    padding: 20px;
    display: flex; /* Flexbox 사용 */
    justify-content: space-between; /* 좌우 정렬 */
}

.left-group {
    display: flex;
    align-items: center; /* 세로 정렬 */
    gap: 4px; /* 요소 간 간격 */
}

.right-group {
    display: flex;
    align-items: center; /* 세로 정렬 */
    gap: 10px; /* 요소 간 간격 */
}

.num-bias {
    margin-left: 30px; /* 필요시 조정 */
}

.day-title{
    font-size: 16px;
    font-weight: 600;
    color: #2d2d2d;
    width: 100px;
}

.day-span {
    font-size: 16px;
    font-weight: 600;
    color: #2d2d2d;
    width: 100px;
}

.event-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
}

.time-chart-box {
    display: flex;
    width: 100%; /* 부모 컨테이너의 전체 너비 */
}

.day-week-list {
    width: 67px; /* 고정된 너비 */
}

.chart-box{
    flex-grow: 1; /* 나머지 공간 차지 */
    background-color: #ffffff; /* 배경색으로 구분 */
}

.chart-etc-box{
    height: 62px;
    background-color: #d0e4ff;
    border-top-left-radius: 12px;;
}

.time-select-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 31px;
    background-color: #d0e4ff;
}

.time-select-box img {
    width: 20px; /* 이미지 크기 설정 (필요에 따라 조정) */
}

.time-select-box span {
    flex-grow: 1;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}

.time-line-box{
    height: 31px;
    background-color: #d0e4ff;
    justify-content: space-between; /* 가로로 6등분 */
    display: flex;
    align-items: center;
}


.time-line-box span {
    flex: 1;
    text-align: left; /* 텍스트 가운데 정렬 */
    font-size: 14px;
    font-weight: 400;
}