
.frame{
    width: 100%;
    padding : 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.desktop-section-wrapper{
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: height 0.3s;
    width: 1000px;
}

.desktop-calendar-component{
    width: 900px;
    border-radius: 40px;
    padding : 30px;
    background: linear-gradient(92deg, rgba(255, 255, 255, 0.40) 2.66%, rgba(255, 255, 255, 0.60) 98.95%);
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
}

.calendar-header-wrapper{
    display: flex;
    width: 900px;
    justify-content: center;
    align-items: center;
}

.calendar-header{
    display: flex;
    height: 120px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 0px 80px;
}

.calendar-header-span{
    color: #4b4b4b;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 84px */
    letter-spacing: -1.5px;
}


.calendar-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; 
}

.week-day-component{
    display: flex;
    width: 120px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
    border: solid 2px #fff;
    background-color: #fff;
}

.week-day-component-span{
    color: #000;
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 58.8px */
    letter-spacing: -1.05px;
}

.week-component{
    display: flex;
    align-items: center;
    gap: 10px;
    padding : 5px 0px;
    border-bottom: solid 2px #aab3cc;
}

.weekday-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;  
    padding-bottom: 20px;
}


.day-component {
    display: flex;
    width: 120px;
    height: 110px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    /*background: #D0E3FF;
    background: linear-gradient(141deg, #c3ffdea6 4.64%, #b5d2ffab 95.91%);
    border: solid 2px #c7ddff;
    */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.day-component-title-span {
    align-self: stretch;
    color: #111;
    text-align: center;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 44.8px */
    letter-spacing: -0.8px;
}

.day-component-body {
    display: flex;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex: 1 0 0;
    align-self: stretch;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    cursor: pointer;
}


/* 부모 hover */
.day-component:hover {
  background: #83b5ff;
}



.day-component-body-span{
    width: 100px;
    height: 34px;
    flex: 1 0 0;
    color: #3a3a3a;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    letter-spacing: -0.6px;
    white-space: nowrap;      /* 줄바꿈 방지 */
    overflow: hidden;         /* 넘친 부분 숨기기 */
    text-overflow: ellipsis; 
}

.month-select-button{
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 33.6px */
    letter-spacing: -0.6px;
    color: #111;
    padding: 10px 20px;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


.month-select-button:hover{
    background-color: #81b3ff;
}


.bias-select-section{
    display: flex;
    width: 900px;
    padding: 40px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 40px;
    border: 2px solid #FFF;
    background: linear-gradient(101deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.60) 99.68%);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.08);
}

.bias-select-section-title{
    color: #111;    
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 39.2px */
    letter-spacing: -0.7px;
}

.bias-selection-wrapper{
    display: flex;
    padding: 50px;
    height: 370px;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    border-radius: 36px;
    border: 2px solid rgba(104, 157, 255, 0.60);
}


.bias-component-wrapper{
    display: flex;
    width: 240px;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.bias-component{
    display: flex;
    width: 200px;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.70);
    cursor: pointer;
}

.bias-image{
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #BEC1FF;
}

.bias-detail-wrapper{
    display: flex;
    height: 93px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.bias-name{
    color: #111;
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 42px */
    letter-spacing: -0.75px;
}

.bias-platform-logo{
    width: 110px;
    height: 32px;
    flex-shrink: 0;
    aspect-ratio: 55/17;
}

.bias-selected-span{
    color: #797979;
    font-family: Pretendard;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 36.4px */
    letter-spacing: -0.65px;
}


.schedule-select-section-frame{
    display: flex;
    width: 900px;
    height: 644px;
    padding: 40px 28px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 40px;
    border: 2px solid #FFF;
    background: linear-gradient(101deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.60) 99.68%);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.08);
}

.schedule-detail-frame{
    display: flex;
    padding: 70px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

.schedule-detail-input-wrapper{
    display: flex;
    width: 365px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}



.schedule-input-wrapper{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    border-radius: 20px;
    background: #CFE5F9;
}

.schedule-input{
    display: flex;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
    border: none;
    outline: none;
    resize: none;
    overflow-y: hidden;
    line-height: 1.4;
    white-space: pre-wrap;
    border-radius: 12px;
}

.searchFac {
  margin-block: 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 100%;

  span {
    font-size: 18px;
    font-weight: 600;
    color: #111;
  }

  .searchBoxMargin {
    width: 100%;
  }
}

.searchBox {
  width: 100%;
  display: flex;
  padding-block: 8px;
  background-color: #111;
  border-radius: 12px;
  background: #CFE5F9;

  input {
    width: 100%;
    border: none;
    background: none;
    padding: 8px 12px;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #303030;

    &::placeholder {
      color: #AAAAAA;
      font-size: 15px;
      font-weight: 400;
    }

    &:focus {
      outline: none;
    }
  }
}

.tagsContainer {
  padding-left : 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background-color: #B3E5FC;
  border: 2px solid #FFF;
  border-radius: 16px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  font-size : 14px;
  font-weight: 500;
}

.removeButton {
  background: none;
  border: none;
  color: #999;
  margin-left: 4px;
  cursor: pointer;
}

.removeButton:hover {
  color: #333;
}

.sampleTagsContainer {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  padding-left : 10px;
}

.sampleTag {
  background-color: #D0EFFF;
  border: 2px solid #FFF;
  border-radius: 16px;
  padding: 6px 10px;
  cursor: pointer;
  font-size : 14px;
  font-weight: 400;
}

.sampleTag:hover {
  background-color: #B3E5FC;
}

.time-picker{
  width: 90%; /* 화면 폭 기준 크기 */
  padding: 20px; /* 내부 여백 */
}

.schedule-detail-time-selector-wrapper{
  display: flex;
  width: 311px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap : 10px;
}

.schedule-detail-time-selector-title{
    font-size: 18px;
    font-weight: 600;
    color: #111;
}

.schedule-time-select-box{
  display: flex;
  padding: 14px 38px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 20px;
  border: 1px solid #A2A2A2;
  margin-bottom: 10px;
}


.time-select-button-wrapper{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-select-intager{
  color: #111;
  font-family: Pretendard;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 72.8px */
  letter-spacing: -1.3px;
  transition: all 0.3s ease-in-out;
}

.time-select-button{
  color: #5E5E5E;
  font-family: Pretendard;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 72.8px */
  letter-spacing: -1.3px;
  padding: 0px 10px;
  transition: all 0.3s ease-in-out;
  border-radius: 12px;
  cursor: pointer;
}

.time-select-button:hover{
  background-color: #c1d9fd;
}

.time-select-part{
  color: #111;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 72.8px */
  letter-spacing: -1.3px;
  cursor: pointer;
}


.time-select-part-wrapper{
  height: 120px;
  display :flex;
  flex-direction: column;
  transition: all 0.3 ease-in-out;
  justify-content: flex-end;
}

.schedule-make-info{
  display: flex;
  width: 60%;
  padding : 20px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
  border : #acacac solid 1px;
  border-radius: 14px;

  span{
    color: #707070;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 72.8px */
    letter-spacing: -1.3px;
  }
}

.schedule-make-info-title{
  display: flex;
  align-self: stretch;
  color: #3b3b3b;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 72.8px */
  letter-spacing: -1.3px;

}