.brand-page-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f7ff;
    width: 100%;
    min-width: 1420px;
    height: 5500px;
    margin: 0 auto;
}


.brand-page-content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 1420px;
    height: 100%;
    margin: 0 auto;
}

.topBar-frame {
    display:flex;
    flex-direction: row;;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;

    div{
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 22.4px */
        letter-spacing: -0.4px;
        color : #111;
    }
}

.topBar-div{
    margin-left: 109px;
    display:flex;
    flex-direction: row;;
    gap: 39px;

}

.topBar-frame .topBar-text-wrapper{
    width: 73px;
    height: 22px;
    color: #505050;
    cursor: pointer;
}

.topBar-div-2{
    display: flex;
    flex-direction: row;
    gap: 17px;
    margin-right: 109px;
}

.topBar-div-2 .topBar-button-1{
    width: 61px;
    height: 40px;
    display: flex;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
}

.topBar-div-2 .topBar-button-2{
    width: 61px;
    height: 40px;
    display: flex;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #107BF4;
    color: #FFFFFF;
    cursor: pointer;
}

.sign-button-wrapper{
    display: flex;
    align-items: center;
    padding-right: 60px;
    gap: 17px;
}

.sign-up-button{
    display: flex;
    width: 91px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #111;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.sign-up-button:hover{
    background: #d9f0ff;
}

.brand-highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* 자식 요소의 절대 위치 지정 기준 */
    width: 100%;
    height: 800px;
}

.brand-highlight-background-image {
    position: absolute; /* 부모 요소 기준으로 배치 */
    top: 0;
    left: 0;
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    object-fit: cover; /* 이미지를 컨테이너 크기에 맞춤 */
    z-index: 0; /* 가장 뒤에 위치 */
}

.brand-highlight .brand-highlight-content {
    position: relative; /* 배경 위에 배치 */
    z-index: 1; /* 배경보다 앞에 위치 */
    padding-top : 190px;
    display: flex;
    flex-direction: column;
    align-items: center;


    div{
        color: #111;
        font-style: normal;
        line-height: 140%; /* 56px */
        letter-spacing: -1px;
    }
}

.brand-highlight .brand-details{
    display: flex;
    width: 629px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.brand-highlight .brand-main-title{
    color: #111;
    font-size: 40px;
    font-weight: 600;
}

.brand-highlight .button-div{
    display: flex;
    flex-direction: row;
    gap: 17px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.4px;
}

.brand-highlight .button-div .button-1{
    width: 61px;
    height: 40px;
    display: flex;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #E5E5EC;
    background: #FFF;
    cursor: pointer;
}

.brand-highlight .button-div .button-2{
    width: 61px;
    height: 40px;
    display: flex;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;
    background-color: #111;
    border-radius: 12px;
    color: #FFF;
    cursor: pointer;
}

.brand-highlight .brand-highlight-button-wrapper{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 80px;
    margin-top : 100px;
    align-items: center;
    gap: 10px;

    span{
        color: #8d8d8d;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 22.4px */
        letter-spacing: -0.4px;
    }
}

.brand-highlight .brand-highlight-button{
    display: flex;
    width: 400px;
    height: 70px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    span{
        color: #767676;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 22.4px */
        letter-spacing: -0.4px;
        transition: all 0.2s ease-in-out;
    }
}

.brand-highlight .brand-highlight-button:hover{
    background-color: #afd4ff;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10);
    scale: 1.03;
    span{
        color : #383838;
        font-weight: 700;
    }
}




.brand-highlight .platforms-div{
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 155px;
}

.brand-highlight .sites-box{
    display: flex;
    width: 230px;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #E5E5EC;
    background: #FFF;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
    cursor: pointer;

    span{
        color: #111;
        font-style: normal;
        line-height: 140%; /* 56px */
        letter-spacing: -1px;
        font-size: 24px;
        font-weight: 500;
        color: #6c6c6c;
    }
}

.brand-highlight .platform-icon{
    width: 116px;
    flex-shrink: 0;
}

.app-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 46px;
}

.service-title-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    font-style: normal;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.4px;
    margin-top : 240px;
    gap: 8px;
}

.service-title{
    display : flex;
    align-items: center;
    color: #111;
    height : 56px;
    font-size: 40px;
    font-weight: 700;
}

.service-sub-title{
    display : flex;
    align-items: center;
    color: #767676;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    white-space: pre-line; /* 줄바꿈 문자(\n)를 두 줄로 렌더링 */
}

.big-content-container{
    display: flex;
    width: 694px;
    height: 664px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
}

.service-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height : 1374px;
}

.big-content-container .big-image-container{
    width: calc(100% - 48px);
    height: 366px;
    margin : 24px;
    background-color: #505050;
    border-radius: 12px;;
}

.big-content-container .big-content-tag-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-left: 24px;
    margin-top : 8px;
    margin-bottom: 12px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.35px;
}

.big-content-container .big-content-tag1{
    display: flex;
    width: 72px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #111;
    color:#fff; 
}

.big-content-container .big-content-tag2{
    display: flex;
    width: 72px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    color:#111; 
    border-radius: 8px;
    border: 1px solid #E0E0EC;
}

.big-content-container .big-content-title{
    display: flex;
    width: calc(100% - 48px);
    height: 32px;
    margin-left: 24px;
    margin-top : 12px;
    color: #111;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
    letter-spacing: -0.5px;
}

.big-content-container .big-content-detail{
    display: flex;
    width: calc(100% - 48px);
    height: 32px;
    margin-left: 24px;
    margin-top : 12px;
    color: #767676;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 21px */
    letter-spacing: -0.375px;
}

.carousel-wrapper{
    display: flex;
    width: 100%;
    height: 650px;
    justify-content: center;
    align-items: center;
}

.slider-container{
    display: flex;
    width: 980px;
    height: 420px;
    overflow: hidden;   /* 잘리는 부분 감춤 */
    position: relative;
    background-color: #505050;
}

.slider-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* 비율 유지하면서 꽉 채움, 잘릴 수 있음 */
  display: block;
}

.middle-content-container{
    display: flex;
    width: 388px;
    height: 263px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 40px 32px;
    gap: 32px;
}

.service-wrapper2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height : 343px;
    gap: 32px;
    line-height: 140%; /* 44.8px */
    letter-spacing: -0.8px;
}

.middle-content-container .middle-content-index{
    color: #111;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

.middle-content-container .middle-content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.middle-content-container .middle-content-title{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.middle-content-container .middle-content-detail{
    width: 100%;
    color: #767676;
    min-height: 42px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    white-space: pre-line; /* 줄바꿈 문자(\n)를 두 줄로 렌더링 */
}


.middle-content-container .middle-image-wrapper{
    margin-top: 10px;
    width: 80px;
    height: 80px;
    margin-left: 308px;
}

.middle-image-wrapper .middle-image-container{
    width: 80px;
    height: 80px;
    border-radius: 8px;

}


.bottom-footer-container{
    display: flex;
    width: 100%;
    height: 541px;
    margin-top : 240px;
    padding: 100px 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom-footer-container .footer-background-image {
    width: 606px;
}

.bottom-footer-container .footer-detail-container{
    width: 813px;
    height: 100%;
    gap: 117px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.bottom-footer-container .footer-detail-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 813px;
    height: 100%;
    font-style: normal;
    line-height: 140%; /* 56px */
    letter-spacing: -1px;
    gap: 26px;
}

.bottom-footer-container .footer-title{
    color: #111;
    height: 56px;
    font-size: 40px;
    font-weight: 600;
}

.bottom-footer-container .footer-subtitle{
    color: #767676;
    height: 42px;
    font-size: 30px;
    font-weight: 600;
}

.footer-info-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 813px;
    height: 140px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
}

.footer-info-box .footer-info-box-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left : 40px;
    height: 76px;
} 

.bottom-footer-container .footer-detail-wrapper2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 813px;
    height: 320px;
    font-style: normal;
    line-height: 140%; /* 56px */
    letter-spacing: -1px;
    gap: 40px;
}

.bottom-footer-container .footer-info-title{
    color: #111;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
}

.bottom-footer-container .footer-info-detail{
    color: #767676;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
}

.footer-info-box .footer-info-icon-wrapper{
    display:flex;
    align-items: center;
    align-content: center;
    width: 75.5px;
    height : 75.5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    img {
        width: 30px;
        height : 30px;
    }
}



.brand-page-footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    color: #767676;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.4px;
    gap: 10px;
}