.ScheduleSelect {
  display: flex;
  flex-direction: column;
}

.date,
.time {
  display: flex;
}

#startDate,
#endDate,
#startTime,
#endTime {
  display: none;
}

.DateAndTimeInfo {
  display: flex;
  justify-content: space-around;
  /* margin-bottom: 50px; */
}

.DatePicker,
.TimePicker {
  width: 100%;
  height: 100%;
}

/* .DatePicker__container {
  width: 100%;
} */

.TimePicker__wrapper {
  display: flex;
  flex-direction: column;
}
