
.searchFac {
  margin-block: 33px 12px;
  background-color: #fff;
  padding-left : 28px;
  padding-right: 28px;

  .searchBox {
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-self: center;
    padding-block: 8px;

    input {
      margin-right: auto;
      width: 100%;
      border: none;
      background: none;
      padding-top: 12px;
      padding-left: 12px;
      padding-right: 12px;
      margin: 0;

      &::placeholder {
        color: #797979;
        font-size: 14px;
        font-weight: 600;
      }

      &:focus {
        border: none;
        outline: none;
      }
    }
    img {
      width: 18px;
    }
  }
}

.wordSection {
  display: flex;
  gap: 8px;
  & img {
    background-color: #d0e4ff;
    padding: 6px 10px;
    border-radius: 6px;
  }

  & button {
    background-color: #d0e4ff;
    &:hover {
      filter: brightness(0.9);
    }
  }
}
