.center {
    margin: 0 auto;
}

.main-container {
    /* margin: 0 auto; */
    background-color: black;
    /* width: 500px; */
    min-height: 200vh;
}

.title-area {
    color: white;
    background-color: blue;
    height: 60px;
}

.info-box {
    /* margin: 0 auto; */
    /* display: flex; */

    height: 300px;
    /* background-color: blueviolet; */
}

.detail-area {
    height: 150px;
}

.my-support {
    height: 100px;
}