.main-container {
    /* max-width: 500px; */
    margin: 0 auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: black; */
    /* opacity: 0.5; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* position: relative; */
    /* position: sticky; */
    /* min-height: 100vh; */
    /* position: sticky;
    bottom: 20px;*/
    z-index: 99; 
    /* padding: 20px; */
    /* overflow: visible; */
}


.container-speaker {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* right: auto;
    bottom: auto; */
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* transform: translateY(-20px); */
    /* transition: 1s ease; */
    width: 100%; 
    /* height: 100%;  */
    display: flex;
    position: fixed;
    left: 0;
    right: auto;
    bottom: 0px;
    /* z-index: 999; */
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.chat-messages {
    position: sticky;
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* position: absolute; */
    height: 600px;
    width: 350px;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* 위아래 여백을 두고 내용을 정렬 */
}

.title-box {
    width: 100%;
    display: flex;
    font-weight: 800;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    border-bottom: solid #303030 2px;
    padding-bottom: 10px;
}

.speaker-star {
    display: flex;
    align-items: center;
    justify-content: center;
}

.speaker-star img{
    padding-left: 20px;
    padding-right: 20px;
    width: 15px;
    height: 15px;
}

.button-container {
    margin: 0 auto;
    /* padding-left: 4px; */
    width: 90%;
    /* width: 300px; */
    /* background-color: blue; */
    display: flex;
    white-space: nowrap;
    overflow: auto;
    scrollbar-width: none;
    /* overflow: scroll; */
    /* padding-left: 10px;
    padding-top: 10px; */
}


.clicked-button {
    justify-content: center;
    align-items: center;
    border: solid 1px #303030;
    border-radius: 100px;
    background-color: black;
    font-weight: 600;
    font-size: 12px;
    color: white;
    width: 96px;
    height: 35px;
    display: flex;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
}

.non-clicked-button {
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: solid 1px #303030;
    background-color: white;
    font-weight: 600;
    font-size: 12px;
    color: black;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 35px;
    display: flex;
    flex-shrink: 0;
}

.speaker-button {
    justify-content: center;
    align-items: center;
    border: solid 2px white;
    border-radius: 100px;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-weight: 600;
    color: white;
    width: 130px;
    /* height: 50px; */
    /* display: flex; */
    /* padding: 0;
    margin: 0; */
}
.chat-messages .message-container {
    background-color: #f5f5f5;
    border: solid 1px black;
    border-radius: 19px;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 400px;
}

/* 메시지 말풍선 스타일 */
.chat-messages ul {
    list-style: none;
    padding: 0;
    display: flex;
    /* 부모 엘리먼트를 Flex Container로 설정 */
    flex-direction: column;
    /* 엘리먼트를 수직으로 정렬 */
}

/* 각 메시지 스타일 */
.chat-messages .message {
    /* margin: 10px; */
    /* max-width: 70%; */
    padding: 6px;
    /* border-radius: 10px; */
    word-wrap: break-word;
    clear: both;
    position: relative;
}

/* 서버에서 받은 메시지 스타일 (system-message) */
.chat-messages .message.server-message {
    /* background-color: #007bff; */
    border-bottom: solid #b1b1b1 1px;
    width: 96%;
    color: black;
    font-size: 11px;
    font-family: "Noto Sans", sans-serif;
    /* text-align: center; */
    align-self: flex-start;
    /* 좌측 정렬 */
}

/* 사용자 메시지 스타일 (user-message) */
/* .chat-messages .message.user-message {
    background-color: #4caf50;
    color: #fff;
    align-self: flex-end; */
/* 우측 정렬 */
/* } */


.chat-messages .input-container {
    display: flex;
    align-items: center;
    background-color: white;
    width: 90%;
    height: 40px;
    margin: 0 auto;
    border: solid 1px #303030;
    border-radius: 100px;
    justify-content: space-evenly;
    /* 수직 중앙 정렬 */
}

.input-container p {
    padding-bottom: 2px;
    color: #303030;
    margin-left: 15px;
    font-size: 11px;
    font-weight: 600;
}

.chat-messages input[type="text"] {
    width: 150px;
    /* padding-top: 5px; */
    padding-left: 15px;
    /* text-align-last: left; */
    border: none;
    font-weight: 500;
    /* color: blue; */
    /* font-style: black; */
    background-color: transparent;
    /* background-color: yellow; */
    /* border-radius: 0;
    margin: 0 10px 0 0; */
    flex: 1;
    outline: none;
    /* 남은 공간 모두 사용 */
}

.chat-messages input[type="text"]::placeholder {
    color: black;
    font-family: "Noto Sans ", sans-serif;
    font-size: 12px;
    
}

/* .chat-messages button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
} */

.send-button {
    display: flex;
    /* justify-items: end; */
    background-color: #1e1e1e;
    border: solid #2c2c2c 1px;
    width: 90px;
    margin-right: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 37px;



}