/* .App {
  text-align: center;
}

.nav-area {
  background-color: black;
  color: white;
  height: 70px;
  align-items: center;
  padding: 10px;
  display: flex;
}
.empty{
  background-color: bisque;
}

.menu {
  background-color: aqua;
  display: flex;
  text-align: end;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.mypage {
  width: 100px;
  height: 100px;
  background-color: #000;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.73);
  /* padding: 20px; */
}

.top-area {
  width: 100%;
  /* height: 400px; */
  background-color: white;
  /* margin: 0 auto; */
  margin-bottom: 20px;
  border-radius: 0 0 5% 5%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: solid black;
  padding-bottom: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.buttons button {
  margin-left: 10px;
}

.banner {
  position: relative;
  background-color: #ccc;
  /* margin-bottom: 20px; */
  /* padding: 0 10px 0 10px; */
  margin: 0 10px 30px 10px;
  /* text-align: center; */
  overflow: hidden;
  border-radius: 10px;
}

.banner-images {
  width: 500vw;
  height: 100%;
}

.image-box {
  width: 100vw;
  height: 150px;
  align-items: center;
  float: left;

}

.my-bias {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.left-box {
  width: 180px;
  height: 180px;
  background-color: brown;
  float: left;
  margin: 0 10px 20px 10px;
  border-radius: 10%;
}
.modal {
  width: 100%;
  height: 500px;
  background-color: bisque;
  clear: both;
}

.right-box {
  width: 40%;
  height: 40%;
  background-color: brown;
  float: left;
  margin: 0 10px 0 10px
}

.after-image-box {
  transform: translateX(-100vw);
}

.after-plus {
  transform: translateX(200vw);
}

.banner-indicator {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 12px;
  background-color: black;
  color: white;
  border-radius: 7px;
  width: 35px;
  text-align: center;
}

.authentication {
  /* display: flex; */
  /* justify-content: space-between; */
  margin-bottom: 20px;
}

.authentication-title {
  margin-bottom: 20px;
}

.item-box {
  background-color: gray;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  border-radius: 10px;
  width: 100%;
  height: 80px;
  position: relative;
  margin-bottom: 20px;
}

.auth-item {
  display: flex;
  align-items: center;
}

.profile {
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 50%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.name {
  padding-left: 20px;
  font-size: 20px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 10px;
}

.auth-button {
  background-color: #ccc;
  border: none;
  padding: 5px 10px;
  position: absolute;
  border-radius: 30px;
  right: 20px;
  width: 100px;

}

.solo-bias-rank {
  margin-bottom: 20px;
  overflow: hidden;
}

.group-bias-rank {
  margin-bottom: 20px;
}

.support-group {
  display: flex;
  align-items: center;
}

.support-button {
  background-color: #ddd;
  border: none;
  padding: 10px;
  border-radius: 50%;
}

.ranking {
  /* margin-bottom: 20px; */
  margin-left: 10px;
  font-size: 20px;
  color: white;
}

.ranking-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.tab {
  /* background-color: #eee; */
  border: none;
  padding: 10px;
  cursor: pointer;

}

.league {
  background-color: #fff;
  padding: 10px;
}

.rank-item-box {
  background-color: gray;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  border-radius: 10px;
  width: 100%;
  height: 70px;
  position: relative;
  margin-bottom: 10px;
}

.rank-profile {
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.point {
  position: absolute;
  right: 20px;
}

.ranking-list .ranking-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
  padding: 10px;
  margin-bottom: 5px;
}

.rank-bottom {
  text-align: center;
  margin: 10px 0;
}

.footer {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 10px;
}

.confirm-button {
  background-color: #000;
  color: #fff;
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
}

.advise {
  height: 300px;
  background-color: #000;
}

.footer p {
  margin: 0;
}

.loundspeaker {
  text-align: end;
  padding-right: 8px;
  padding-bottom: 5px;
}

.title-area {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  margin-bottom: 20px;
}

/* .buttons {
  margin-top: 10px;
} */
.button {
  /* background-color: aqua; */
  margin-right: 10px;
  text-decoration: none;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  /* padding: 20px 40px; */
  height: 45px;
  margin-right: 20px;
  border-radius: 100px;
  background-color: #000;
  color: white;
  border: solid white 2px;
}

.bias {
  /* margin-right: 10px; */
  padding-right: 20px;
}

.all-bias {

}

.stars {
  /* margin: 0px; */
  padding-left: 10px;
  display: flex;
  max-width: 680px;
  width: 130vw;
  /* overflow: hidden; */
  justify-content: space-between;
} 

.stars button {
  color: gray;
  border: 0;
  background-color: transparent;
}

.after-stars {
  transform: translateX(-50vw);
}