/* body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* 배경색을 원하는 색으로 변경 가능 
} */

/* .font {
  font-family: "Noto Sans KR", sans-serif;
} */
hr {
  opacity: 0.2;
}
.container {
  max-width: 500px;
  /* 너비를 원하는 비율로 설정 */
  height: 90vh;
  margin: 0 auto;
  /*max-width: 1200px; /* 최대 너비를 설정 */
  background-color: #eee9fc; /* 배경색을 원하는 색으로 변경 가능 */
  /*text-align: center; /* 텍스트 가운데 정렬 */
}
.TopBar {
  width: 500px; /* 너비를 원하는 비율로 설정 */
  height: 60px;
  margin: 0 auto;
  /*max-width: 1200px; /* 최대 너비를 설정 */
  background-color: #ffffff; /* 배경색을 원하는 색으로 변경 가능 */
  border-bottom: 2px solid #ffffff;
  /* text-align: center; 텍스트 가운데 정렬 */
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  display: flex;
  align-items: center;
  justify-content: space-between; /* 좌우 공간을 동일하게 분배 */
  padding: 5px 15px;
  box-sizing: border-box;
}
.backword {
  width: 35px;
  height: 35px;
  filter: invert();
  cursor: pointer;
}

.TitleBox {
  position: absolute; /* 절대 위치로 중앙 정렬 */
  left: 50%; /* 부모의 50% 위치 */
  transform: translateX(-50%);
  color: white;
}

/* .TitleName{
    color: white;
    /* text-align: center; /* 텍스트 가운데 정렬 
} */

.titleName {
  color: black;
  text-align: center;
  font-weight: 600;
}

.content {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background-color: #ffffff;
  /*text-align: center; /* 텍스트 가운데 정렬 */
  padding-top: 10px;
  /* box-sizing: border-box; */
}

.fullWidthComponent {
  width: calc(100% - 40px);
  height: 134px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 5px 20px;
  flex-direction: column;

  .nova_text {
    margin: 0;
    margin-top: 5px;
    margin-bottom: -5px;
    font-size: 13px;
  }
}

.listContainer {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainComponent {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(228, 228, 228, 0.2);
  .more_vector {
    width: 9px;
    height: 14px;
    margin-left: auto;
    margin-right: 40px;
  }
}

.bodyText {
  color: rgb(0, 0, 0);
  font-size: 13px;
  text-align: center; /* 텍스트 가운데 정렬 */
  font-weight: 100;
  /*margin-right: 23px; /* Add spacing between the text and icon */
}
.bodyText_login {
  color: rgb(0, 0, 0);
  font-size: 12px;
  text-align: center; /* 텍스트 가운데 정렬 */
  font-weight: 530;
  border: 1.5px solid #cccfff;
  border-radius: 5px;
  padding: 5px 40px;
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.vector {
  width: 20px;
  height: 20px;
  text-align: center;
  margin-top: 5px;
  /*margin-right: 10px;*/
  margin: 30px;
}

.vector_login {
  width: 65px;
  height: 65px;
  margin: 0;
}

.inquiry {
  width: 100%; /* 너비를 원하는 비율로 설정 */
  height: 420px;
  margin: 0 auto;
  background-color: #ffffff; /* 배경색을 원하는 색으로 변경 가능 */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* Align icons horizontally */
  gap: 50px; /* Space between the icons */
}

.icon_img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.iconBox {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon_name {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 5px; /* Space between the icon and the name */
  font-size: 11px;
  font-weight: 600;
}

.footer {
  background-color: #eee9fc; /* 원하는 배경색으로 변경 */
  padding: 10px; /* 여백 추가 (필요 시 조정) */
  line-height: 1.7;
  font-weight: 500;
  color: #333; /* 텍스트 색상 조정 (선택 사항) */
}

.logo_img {
  width: 232px;
  height: 200px;
  margin-left: 5px;
}

.nova_project_text {
  font-size: 20px;
  font-weight: 700;
}
.nova_project_container {
  display: flex; /* 플렉스 컨테이너 설정 */
  align-items: center; /* 세로 중앙 정렬 */
}
