.main-container {
    /* margin: 0 auto; */
    background-color: black;
    /* width: 500px; */
    min-height: 200vh;
}

.title-area {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    height: 80px;
    border-bottom: solid white 1px;
}

.certify-container {
    /* display: flex; */
    /* align-items: start; */
    /* justify-content: space-around; */
    /* height: 600px; */
    width: 100%;
    /* background-color: blanchedalmond; */
}

.point-area {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100px;
    /* background-color: orange; */
}


.area {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    /* background-color: skyblue; */
}

.bias-area {
    position: relative;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    border-radius: 15px;
    /* background: linear-gradient(135deg, #c2a6f0fd, #8cb9fcfe); */
    background: linear-gradient(135deg, rgba(194, 166, 240, 0.5), rgba(140, 184, 252, 0.5));
    border: white 1px solid;
    width: 85%;
    height: 90%;
    /* background-color: blueviolet; */
}

.gradient-box {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background: linear-gradient(135deg, #c2a6f0, #8cb8fc);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}


.name-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    /* background-color: blue; */
}

.img-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    /* background-color: burlywood; */
}

.button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    /* background-color: rebeccapurple; */
}

.text-area {
    text-align: center;
    width: 100%;
    height: 30px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    border-radius: 100%;
    height: 220px;
    /* background-color: wheat; */
}

.circle img {
    /* object-fit: cover; */
    /* opacity: 1; */
    /* background-size: cover; */
    width: 300px;
    height: 300px;
}

.save-point-box {
    width: 85%;
    height: 50px;
    /* background-color: gray; */
}

.progress-container {
    margin-top: 5px;
    width: 90%;
    height: 10px;
    border-radius: 100px;
    border: 1px solid white;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 3px;
    /* justify-content: center; */
}

.progress-bar {
    height: 100%;
    /* background-color: white; */
    background: linear-gradient(135deg, rgba(194, 166, 240, 0.7), rgba(140, 184, 252, 0.5));
    border: white 1px solid;
    width: 80%;
    border-radius: 100p
}

.now-point {
    height: 30px;
    background-color: white;
}

.test {
    position: absolute;
}

.bottom-area {
    width: 100%;
    height: 130px;
    /* background-color: antiquewhite; */
}

.buttons {
    margin-right: 10px;
    border-radius: 100px;
    border: 3px solid transparent;
    /* border-image : linear-gradient(to right, white, blue); */
    /* border-top: white 1px solid;
    border-left: white 1px solid; */
    /* border-right: purple 1px solid;
    border-bottom: purple 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 70px;
    background-image:
        linear-gradient(135deg, rgba(140, 75, 238, 0.5), rgba(5, 1, 23, 0.111)),
        linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(140, 185, 252, 0.132));

    border-image-slice: 1;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.advise {
    width: 100%;
    height: 200px;
    background-color: gray;
}