.container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  background-color: #1e1e1e;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 10px;

  padding-bottom: 10px;
  background-color: #eaeeff;
}
.title {
  color: white;
  font-size: 25px;
  font-weight: 600;
  padding: 20px;
}

.tag-container {
  display: flex;
  /* flex-grow: 1; */
  width: 100%;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  /* width: 500px; */
  /* overflow: auto; */
  margin-bottom: 10px;
  justify-content: start;
}

.hashtag-text {
  background-color: #373737;
  color: #ffffff;
  border: 0;
  border-radius: 20px;
  padding: 8px 35px;
  min-width: 80px;
  flex-shrink: 0;
  margin-left: 10px;
  cursor: pointer;
}
