.modal-frame{
    width: 100%;
    height: 100%;
    background-color: #00000071;
    position: fixed;
    top: 0px;
    left : 0px;
    z-index: 20;
    display: flex;
    padding-top: 90px;
    justify-content: center;
}

.modal-container{
    display: flex;
    max-width: 430px;
    padding: 20px;
    margin: 2%;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 20px;
    border: 1px solid #FFF;
    background: #fff
}

.modal-upper-section{
    display: flex;
    height: 286px;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 12px;
}

.modal-lower-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.schedule-tag-detail-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    align-self: stretch;
}

.tag-wrapper-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.tag-wrapper{
    display: flex;
    max-width: 400px;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.tag-box{
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #000;
    background: #111;
    color: #FFF;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.35px;
}

.platform-box{
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #E0E0EC;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.35px;
    color: #111;
}

.schedule-detail-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.schedule-title{
    color: #111;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 33.6px */
    letter-spacing: -0.6px;
}

.schedule-datetime{
    color: #767676;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 33.6px */
    letter-spacing: -0.6px;
    display: flex;
    gap: 20px;
}

.schedule-bname{
    color: #767676;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.45px;
}


.button-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.left-button{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background-color: #F7F7FB;
    color: #111;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.4px;
    cursor: pointer;
    transition: all 0.3 ease-in-out
}

.left-button2{
    display: flex;
    align-self: stretch;
    max-width: 129px;
    min-width: 76px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background-color: #F7F7FB;
    color: #111;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}


.left-button:hover{
    background-color: #e0e0ff;
}


.right-button{
    display: flex;
    width: 30%;
    max-width: 129px;
    min-width: 76px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background-color: #A4BEFF;
    color: #111;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}

.right-button:hover{
    background-color: #6490ff;
}

.schedule-image {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 박스 벗어난 부분 잘라냄 */
  border-radius: 12px; /* 있으면 더 보기 좋음 */
}

.schedule-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* 이미지 비율 유지하면서 박스 안에 맞춤 */
}

.left-button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    width: calc(30% + 48px);
}


.left-span-button{
    color: #2f78ff;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.4px;
    cursor: pointer;
    border-bottom: #2f78ff 1px solid;
    transition: all 0.2s ease-in-out;
}

.left-span-button:hover{
    font-weight: 600;
    color: #2362d6;
    border-bottom: #2362d6 1px solid;
}