.container {
  max-width: 500px;
  height: 200vh;
  margin: 0 auto;
  background-color: #f1f7ff;
  position: relative;
}

.backword {
  width: 35px;
  height: 35px;
}
.top_area {
  width: 100%; /* 너비를 원하는 비율로 설정 */
  height: 30px;
  padding: 10px 15px;
}

.logout_box {
  margin: 0 auto;
  width: 95%;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
