.main-container {
    /* margin: 0 auto; */
    background-color: black;
    /* width: 500px; */
    min-height: 200vh;
}

.title-area {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    height: 50px;
    border-bottom: solid white 1px;
}

.bias-show-area {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 300px;
    background-color: antiquewhite;
}

.personal_box {
    display: flexbox;
    width: 95%;
    height: 90%;
    background-color: gray;
    border-radius: 15px;
}

.my-info-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: plum;
}

.my-info {
    width: 90%;
    height: 250px;
    background-color: gray;
}

.info-box {
    height: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: antiquewhite;
}

.sub-info-area {
    width: 100%;
    height: 400px;
    background-color: orange;
}

.sub-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: skyblue;
}

.info {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 90%;
    height: 250px;
    background-color: gray;
}

.market-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: green;
}

.market {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50px;
    background-color: gray;
    border-radius: 80px;
}

/* .icon-style {
    object-fit: cover;
} */