
.desktop_feed_list_outer_frame{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.desktop_feed_list_inner_frame{
    display: flex;
    padding-top: 80px;
    width: 50%;
    max-width: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.feed_list_wrapper{
    display: flex;
    width: 100%;
    gap: 20px;
}

.desktop-ad-section-style{
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    position:sticky;
    top: 200px;
    margin: 0px 30px;
}