.NoneFeed {
  width: auto;
  margin: 0px 27px;
  height: 380px;
  background-color: #f1f7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 16px;
    color: gray;
  }
}
