.container {
    margin: 0 auto;
    max-width: 500px;
    height: 200vh;
    background-color: black;
    color: white;
    /* overflow: hidden; */
}

.img-area {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-area img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

/* 피드 관련 스타일 */
.feed {
    margin: 0 auto;
    background-color: #292929;
    border-radius: 25px;
    width: 450px;
    height: 400px;
    color: white;
    margin-top: 20px;
}

.info_area {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.planet_name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.planet_name img {
    width: 40px;
    height: 40px;
    margin-right: 7px;
}

.sup_people {
    margin-right: 20px;
}

.title {
    width: 100%;
    white-space: normal;
}

.link_box {
    margin-left: 20px;
    background-color: gray;
    width: 85%;
    height: 80px;
    border-radius: 10px;
}

.link_box h1 {
    margin: 0;
    margin-left: 10px;
    padding-top: 10px;
}

.link_box h5 {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    margin-left: 10px;
}

.button_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

.button_container button {
    width: 150px;
    height: 80px;
    color: white;
    background-color: blue;
    border-radius: 15px;
    box-shadow: 0px 2px 5px black;
}

.quiz_box {
    list-style-type: none;
    /* background-color: blue; */
    margin: 0 auto;
    width: 80%;
    height: 50%;
    padding: 0;
    border-radius: 15px;
}

.quiz_box li {
    padding: 15px 20px;
    background-color: seagreen;
    border: 1px white solid;
}

.quiz_box li:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.quiz_box li:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*  */


.area {
    height: 600px;
    background-color: yellowgreen;
    overflow: scroll;
    scrollbar-width: none;
    /* overflow: auto; */
}

.scroll-area {
    /* height: 1000px; */
    /* background-color: blue; */
    overflow: scroll;
    scrollbar-width: none;
}


/* 피드 작성 스타일 */
.input_title {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px white solid;
    height: 15%;
}

.input_title input {
    margin-top: 5px;
    width: 92%;
    height: 50px;
    color: white;
    outline: none;
    border: none;
    background-color: transparent;
    margin-left: 10px;
}

.input_title input::placeholder {
    font-weight: 800;
    font-size: 18px;
    color: white;
}

.input_content {
    width: 100%;
    height: 85%;
    /* background-color: blue; */
}

.input_content textarea {
    width: 93%;
    height: 230px;
    resize: none;
    display: block;
    color: white;
    outline: none;
    border: none;
    background-color: transparent;
    margin-left: 10px;
    margin-top: 10px;
}

.input_content textarea::placeholder {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.submit_area {
    margin: 0 auto;
    text-align: center;
}

.submit_area h6 {
    margin-top: 10px;
}

.submit_button {
    border: none;
    margin: 0 auto;
    color: white;
    width: 85%;
    height: 50px;
    background-color: black;
    border-radius: 10px;
}

