.ScheduleTopic {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.bias_img {
  background-color: gray;
  height: 90px;
  width: 90px;
  /* aspect-ratio: 1 / 1; */
  /* display: block; */
}
